header, footer{
    text-align: center;
        font-family: fantasy
    
}
a:visited{
    color:paleturquoise
}
a:hover{
    font-weight:bold
}
a:active{ 
    text-decoration: none
}

.navtable
{
width:15%
}

#font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
